.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-form {
    border: 1px solid #c3c3c3;
    padding: 30px;
    border-radius: 8px;
}